/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Buttons Styling */
.btn1 {
  background-color: rgb(0, 97, 255);
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 7px 18px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}

.btn1:hover {
  background-color: rgba(0, 98, 255, 0.8);
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 7px 18px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
}


.btn2 {
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 9px 16px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 300;
}

.btn3 {
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 9px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Nav Styling */
.main-menu {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 20px 0;
  z-index: 555;
}

/* Styling Menu Hover */
.navbar {
  overflow: hidden;
  background-color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 77;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content span {
  float: none;
  color: black;
  font-weight: 700;
  padding: 16px 16px 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Menu Voices Underline */
.underline-transition::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.underline-transition:hover::after {
  width: 100%;
}

/* Logo Styling */
.logo {
  display: flex;
  width: 12%;
  padding-left: 30px;
  align-items: center;
}

/* Menu left */
.menu-left {
  display: flex;
  width: 38%;
  justify-content: flex-start;
}

.menu-left ul {
  display: flex;
  gap: 25px;
}

.menu-left ul a {
  color: black;
}

/* Menu right */
.menu-right {
  display: flex;
  width: 38%;
  justify-content: flex-end;
}

.menu-right ul {
  display: flex;
  gap: 25px;
}

.menu-right ul a {
  color: black;
}

.login {
  display: flex;
  gap: 20px;
  width: 12%;
  justify-content: flex-end;
  padding-right: 30px;
  align-items: center;
}

.login div a {
  color: black;
}

/* Jumbo Section */
.align-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.jumbo {
  padding-top: 110px;
  background-color: rgb(180, 208, 231);
}

/* Jumbo text styling */
.titolo {
  padding-top: 70px;
  font-size: 70px;
  font-weight: 800;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 33%;
  padding-top: 50px;
}

.fa-arrow-down {
  padding: 50px 0 25px;
  font-size: 50px;
  color: black;
}

.jumbo-img img {
  padding-top: 50px;
  width: 70%;
  position: absolute;
  left: 360px;
  top: 270px;
}

.hero {
  display: flex;
}

/* Main Styling*/
.fa-circle-dot {
  color: rgb(0, 97, 255);
}

.features {
  font-size: 1em;
  padding-top: 20px;
}

.features--flexbox {
  display: flex;
}

.fa-solid {
  padding-right: 5px;
}

/* Section Pricing Styling */
.align-mid {
  width: 60%;
  margin: 0 auto;
}

#pricing-tables {
  padding-top: 150px;
}

.align-mid h2 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 50px;
}

#input {
  padding-right: 30px;
}

.single-price,
.team-price,
.enterprise-price {
  display: flex;
  gap: 12px;
  width: calc(100% / 3 - 24px);
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.price-columns {
  padding: 50px 0px;
  display: flex;
  justify-content: space-between;
}

.user {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
}

.single-price h3 {
  font-size: 22px;
}

.box>.price {
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0px;
}

.box>.month {
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 35px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  width: 70%;
  margin: 0 auto;
}

.box span {
  font-size: 16px;
}

.box>.month {
  padding: 0px 0px 30px 0px;
  font-size: 14px;
}

.buy-now a {
  text-decoration: underline;
}

.box hr {
  width: 20%;
  color: rgba(0, 0, 0, 0.6);
  margin: 20px 0px;
}

.bullet-points {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

.fa-check {
  color: rgb(0, 97, 255);
  font-size: 16px;
}

.box>.btn1 {
  margin: 30px 0;
}

/* Team Enterprise Styling */

.team-enterprise {
  width: 100%;
  display: flex;
}

.enterprise-box {
  width: 65%;
  padding: 40px;
}

.enterprise-btn {
  width: 35%;
  text-align: right;
  padding: 60px;
}

.enterprise-box div {
  padding: 20px 0 40px;
}

.enterprise-box h3 {
  font-size: 25px;
}

.enterprise-box div>span {
  font-size: 15px;
  font-weight: 600;
}

.enterprise-box span {
  font-size: 15px;
}

.enterprise-btn .btn1 {
  font-size: 16px;
}

.enterprise-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.boxed {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.enterprise {
  padding-bottom: 150px;
}

/* Partner Section Styling */
.content-row img {
  max-width: 60%;
  padding-right: 50px;
}

.content-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-top: 50px;
}

.content-row-text {
  width: 70%;
  font-size: 20px;
  font-weight: 700;
}

.content-row-subheading {
  font-size: 16px;
  width: 70%;
  font-weight: 300;
  padding-top: 20px;
}

.partner-btn {
  padding-top: 30px;
}

/* Feature Section */
.flex-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}

.feature-img {
  width: 100%;
}

.container img {
  width: 100%;
}


.text {
  text-align: center;
}

.feature {
  padding-bottom: 100px;
}

.text-heading {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 25px;
}

.feature h2 {
  font-size: 40px;
}

/* Teams Section */

.teams h2 {
  font-size: 40px;
  width: 60%;
  padding-top: 80px;
}

.teams a {
  padding: 50px 0;
  text-decoration: underline;
}

.teams {
  padding-bottom: 120px;
}

/* Clients Section */
.middle-square {
  background-color: rgb(245, 245, 245);
  padding: 50px 0 150px 50px;
  width: 50%;
}

.middle-square img {
  width: 50%;
  padding-bottom: 40px;
}

.middle-square hr {
  width: 20%;
}

.middle-square p {
  padding: 40px 30px 40px 0;
  font-size: 15px;
  font-weight: 300;
}

.flexbox {
  display: flex;
}

.flex-col {
  display: flex;
}

.flex-col img {
  width: 100%;
}

.square {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

.arizona {
  background-color: rgb(97, 8, 43);
}

.row>.square img {
  filter: invert(1);
}

.designit {
  background-color: #A2D39B;
  border: 15px solid rgb(209, 233, 205);
}

.florida {
  background-color: rgb(0, 147, 206);
}

.topps {
  background-color: #FF1C1C;
}

.wbr {
  background-color: rgb(213, 0, 31);
}

.lp {
  background-color: rgb(13, 36, 129);
}

.hc {
  background-color: #B4D0E7;
}

.cc {
  background-color: rgb(255, 216, 48);
}

/* Trial Section */
.trial {
  background-color: rgb(180, 208, 231);
}

.trial-text {
  color: #fff;
  color: rgb(97, 8, 43);
  font-size: 50px;
  font-weight: 700;
  width: 60%;
  display: block;
}

.trial-content {
  padding: 120px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* FAQ Section */
.align-mid .heading {
  font-size: 40px;
  padding: 80px 0 30px 40px;
  color: black;
  text-align: left;
}

.faqs {
  padding: 0px 20px 20px;
}

details {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

details summary {
  outline: none;
  padding: 25px 0px;
  font-weight: 700;
  font-size: 16px;
  border-top: 1px solid black;
}

.answer {
  padding: 20px 0px 0px 25px;
  font-weight: 700;
}

/* Footer styling */

footer {
  background-color: black;
  padding: 70px 0;
  margin-top: 80px;
}

.footer-col ul {
  list-style: none;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  padding: 0 15px;
  line-height: 2.2rem;
}

.footer-col a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.footer-col h3 {
  width: 70%;
  font-size: 22px;
  font-weight: 800;
  color: white;
  padding-bottom: 15px;
}

.spacing {
  padding-top: 80px;
  width: 80%;
  border-bottom: solid 1px white;
}

.language {
  padding-top: 40px;
  color: white;
}

.language span {
  font-size: 15px;
  padding: 0 5px;
}

/* Footer Centered */
.align-center {
  width: 70%;
  margin: auto;
}

/* Footer Hover Styling */
.footer-col ul>li>a:hover {
  text-decoration: underline;
}

.language:hover span {
  text-decoration: underline;
  cursor: pointer;
}

.fa-chevron-right:hover {
  cursor: pointer;
}